* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.s1 {
  background-image: url("./img/DSC_4029copy.jpg");
  background-size: cover;
}
.video {
    position: absolute;
    height: 60%;
/*    left: 20%;*/
    top: 40%;  
}
.section h1 {
  font-size: 64px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  
  background: linear-gradient(to left, #87c7df, #648896);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.s2 {
  background: linear-gradient(to left top, rgb(189, 193, 199), white);
}
.s2 h1 {
    font-size: 48px;
    position: absolute;
    top: 20%;
    transform: translate(-50%, -20%);
   background: linear-gradient(to left, #87c7df, #648896);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chair {
  height: 40%;
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-30%, -70%);
}

.description {
  margin-top: 30%;
  width: 40%;
  margin-left: 5%;
  font-size: 20px;
}
.description p {
  margin: 50px 0px;
}

.shows {
text-align: center;

}
.shows h3{
    padding-top: 2%;
}

.player {
    position: absolute;
    left: 20%;
    top: 30%;
/*    padding-bottom: 5%;*/
/*    transform: translate(-20%, -20%);*/
}
.soundcloud {
    display: none;
}

@media screen and (orientation: portrait) {
  .chair { display: none; }
    .player { display: none;}
    .description { font-size: 14px;margin-top: 50%;width: 80%;}
/*    .soundcloud { display: block;top: 100%;transform: translate(30%, -70%);}*/
}